.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.big-canvas {
  margin-bottom: 1%;
}

.canvas {
  border-radius: 5px;
}

.trend {
  text-align: center;
}

h4 {
  color: #fff;
  background-color: #222;
  border-radius: 5px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}