.source > a, .source-header {
    background-color: #222;
    color: white;
    text-decoration: none;
    border-radius: 1px;
}

.source {
    margin-bottom: 2%;
}

@media (min-width: 1080px) {
    .source {
      margin-bottom: 3.1%;
    }
  }